apiVersion: v1
kind: Secret
metadata:
  name: my-pvtgithub-secret
  annotations:
    kpack.io/git: https://github.com
type: kubernetes.io/basic-auth
stringData:
  username: <username>
  password: <password>