apiVersion: kpack.io/v1alpha1
kind: Image
metadata:
  name: calcaddservice
  namespace: default
spec:
  tag: {container-registry}/calcaddservice
  serviceAccount: default-builder-sa
  builder:
    name: default-builder
    kind: Builder
  source:
    git:
      url: https://github.com/alinahid477/vmw-calculator-addservice.git
      revision: main