.env
*.nogit*
.bash_history
*.crt
.tanzu
.local
.azure
.ssh
.bak
.nogit

.docker/*
!.docker/.gitkeep
.kube/*
!.kube/.gitkeep
binaries/*
!binaries/.gitkeep
!binaries/tbsinstall.sh
!binaries/tbsbuilderwizard.sh
!binaries/init.sh
!binaries/readparams.sh
!binaries/builder.template
.vmware-cna-saas
tbsfiles/*
!tbsfiles/descriptor.yaml
!tbsfiles/*.sample
